.eachblogitemcont {
  background-color: transparent;
  border: groove lightblue;
  padding: 20px;
  margin-bottom: 20px;
}
.blogitemtitle {
  color: white;
  font-size: 50px;
  font-family: Fantasy 2;
  font-weight: bold;
}
.blogitemauthor {
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: Fantasy 2;
}
.blogitemdate {
  color: white;
  font-size: 20px;
  font-family: Fantasy 2;
}
.forcancelicon {
  display: flex;
}
.cancelicon {
  color: white;
  height: 30px;
  width: 30px;
  margin-left: 6%;
  margin-top: 10px;
}
.userProfile {
  padding: 20px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  background-color: rgb(162, 23, 162);
  margin-right: 20px;
}
.authornameandprofile {
  display: flex;
  align-items: center;
}
.dateText {
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: Fantasy 2;
}
.dateandcontentcont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
